/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu

@import './partials/slider-header';
@import './partials/spiner';
@import './partials/movie-template';
@import './partials/footer';
@import './partials/container';
@import './partials/modal';
@import './partials/video';
@import './partials/buttons';
@import './partials/pagination';
@import './partials/movies-container';
