<header class="slider slider-library">
  <div class="slider-nav-logo">
    <div class="slider_nav">
      <ul class="slider_list">
        <li class="slider_elem">
          <a href="./index.html" class="slider_elem--home">HOME</a>
        </li>
        <li class="slider_elem">
          <a href="./libary.html" class="slider_elem--libary underline-nav">MY&nbsp;LIBARY </a>
        </li>
      </ul>
    </div>
    <div class="slider_logo-block">
      <a href="./index.html" class="slider_logo-link">
        <img src="./images/header-logo.png" alt="logo" class="slider_logo" /><span
          class="slider_logo-text"
          >FILMOTEKA</span
        ></a
      >
    </div>
  </div>
  <div class="slider_buttons">
    <input type="button" value="Watched" class="slider_buttons-elem btn-watched" />
    <input type="button" value="Queue" class="slider_buttons-elem btn-queue" />
  </div>
</header>
