<header class="slider">
  <div class="slider-nav-logo">
    <div class="slider_nav">
      <ul class="slider_list">
        <li class="slider_elem">
          <a href="./index.html" class="slider_elem--home underline-nav">HOME</a>
        </li>
        <li class="slider_elem">
          <a href="./libary.html" class="slider_elem--libary">MY&nbsp;LIBRARY </a>
        </li>
      </ul>
    </div>
    <div class="slider_logo-block">
      <a href="./index.html" class="slider_logo-link">
        <img src="./images/header-logo.png" alt="logo" class="slider_logo" /><span
          class="slider_logo-text"
          >FILMOTEKA</span
        ></a
      >
    </div>
  </div>
  <form id="form" class="slider_mid-box-input">
    <input
      type="text"
      name="search"
      id="topSearch"
      placeholder="Movie search"
      class="slider_input"
    />
    <button type="submit" class="slider_search">
      <img alt="Submit" class="slider_search--image" src="./images/lupka.png" />
    </button>
  </form>
</header>
<!-- ss-->
