<header class="slider">
  <div class="slider_logo">
    <span><img src="./images/header-logo.png" alt="logo" class="slider_logo" />FILMOTEKA</span>
  </div>
  <div class="slider_nav">
    <ul class="slider_list">
      <li class="slider_elem"><a href="./index.html" class="slider_elem--home">HOME</a></li>
      <li class="slider_elem">
        <a href="./libary.html" class="slider_elem--libary">LIBARY </a>
      </li>
    </ul>
  </div>
  <input type="text" name="search" id="topSearch" placeholder="Movie search" /><img
    src="./images/lupka.png"
    alt=""
    class="slider_search"
  />
</header>
