<div id="students-container">
  <div class="students-background">
    <div class="students">
      <h2>Team Group 7</h2>
      <div class="students-list">
        <div class="students-list__item">
          <img class="students-picture" src="./images/animal_lion_icon.png" alt="lion icon" />
          <div class="students-name">Jakub</div>
          <div class="students-name2">Jaciubek</div>
          <p class="students-role">Team Leader</p>
        </div>
        <div class="students-list__item">
          <img
            class="students-picture"
            src="./images/animal_elephant_icon.png"
            alt="elephant icon"
          />
          <div class="students-name">Izabela</div>
          <div class="students-name2">Malinowska</div>
          <p class="students-role">Scrum Master</p>
        </div>
        <div class="students-list__item">
          <img
            class="students-picture"
            src="./images/animal_bear_panda_icon.png"
            alt="panda icon"
          />
          <div class="students-name">Hanna</div>
          <div class="students-name2">Kaczyńska</div>
          <p class="students-role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-picture" src="./images/animal_bird_icon.png" alt="bird icon" />
          <div class="students-name">Hanna</div>
          <div class="students-name2">Rogalska</div>
          <p class="students-role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-picture" src="./images/animal_cat_kitty_icon.png" alt="kitty icon" />
          <div class="students-name">Katarzyna</div>
          <div class="students-name2">Leoniuk</div>
          <p class="students-role">Developer</p>
        </div>
        <div class="students-list__item">
          <img
            class="students-picture"
            src="./images/animal_dog_beige_icon.png"
            alt="dog beige icon"
          />
          <div class="students-name">Emilia</div>
          <div class="students-name2">Szczepaniak</div>
          <p class="students-role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-picture" src="./images/animal_bat_icon.png" alt="bat icon" />
          <div class="students-name">Kacper</div>
          <div class="students-name2">Madajewski</div>
          <p class="students-role">Developer</p>
        </div>
        <div class="students-list__item">
          <img
            class="students-picture"
            src="./images/animal_dog_white_icon.png"
            alt="dog white icon"
          />
          <div class="students-name">Jakub</div>
          <div class="students-name2">Piłat</div>
          <p class="students-role">Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div id="team-modal" class="modal-students">-->
<!-- Modal content -->
<!--<div class="modal-students-content">
      <span class="modal-students-close">&times;</span>
      <h2 class="our-team">Our Team</h2>
      <ul class="students-list">
        <li class="students-name">Jakub Jaciubek <p class="team-function">Team Leader</p><img src="./images/animal_lion_icon.png" alt="team-foto"> </li>
        <li class="students-name">Izabela Malinowska <p class="team-function">Scrum Master</p><img src="./images/animal_elephant_icon.png" alt="team-foto"></li>
        <li class="students-name">Hanna Kaczyńska <p class="team-function">Developer</p><img src="./images/animal_bird_icon.png" alt="team-foto"></li>
        <li class="students-name">Hanna Rogalska <p class="team-function">Developer</p><img src="./images/animal_dog_beige_icon.png" alt="team-foto"></li>
        <li class="students-name">Katarzyna Leoniuk <p class="team-function">Developer</p><img src="./images/animal_bear_panda_icon.png" alt="team-foto"></li>
        <li class="students-name">Emilia Szczepaniak <p class="team-function">Developer</p><img src="./images/animal_cat_kitty_icon.png" alt="team-foto"></li>
        <li class="students-name">Kacper Madajewski <p class="team-function">Developer</p><img src="./images/animal_dog_white_icon.png" alt="team-foto"></li>
        <li class="students-name">Jakub Piłat <p class="team-function">Developer</p><img src="./images/animal_bat_icon.png" alt="team-foto"></li>
      </ul>
    </div>
  </div>
</div>-->