<div id="students-container">
  <div class="students-background">
    <div class="students">
      <img class="students-logo" src="./images/logo-grupy.gif" alt="students logo" />
      <h2>Nasz Team</h2>
      <div class="students-list">
        <div class="students-list__item">
          <img class="students-picture" src="./images/animal_lion_icon.png" alt="lion icon" />
          <div class="students-name">Jakub</div>
          <div class="students-name2">Jaciubek</div>
          <p class="students-role">Team Leader</p>
        </div>
        <div class="students-list__item">
          <img
            class="students-picture"
            src="./images/animal_elephant_icon.png"
            alt="elephant icon"
          />
          <div class="students-name">Izabela</div>
          <div class="students-name2">Malinowska</div>
          <p class="students-role">Scrum Master</p>
        </div>
        <div class="students-list__item">
          <img
            class="students-picture"
            src="./images/animal_bear_panda_icon.png"
            alt="panda icon"
          />
          <div class="students-name">Hanna</div>
          <div class="students-name2">Kaczyńska</div>
          <p class="students-role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-picture" src="./images/animal_bird_icon.png" alt="bird icon" />
          <div class="students-name">Hanna</div>
          <div class="students-name2">Rogalska</div>
          <p class="students-role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-picture" src="./images/animal_cat_kitty_icon.png" alt="kitty icon" />
          <div class="students-name">Katarzyna</div>
          <div class="students-name2">Leoniuk</div>
          <p class="students-role">Developer</p>
        </div>
        <div class="students-list__item">
          <img
            class="students-picture"
            src="./images/animal_dog_beige_icon.png"
            alt="dog beige icon"
          />
          <div class="students-name">Emilia</div>
          <div class="students-name2">Szczepaniak</div>
          <p class="students-role">Developer</p>
        </div>
        <div class="students-list__item">
          <img class="students-picture" src="./images/animal_bat_icon.png" alt="bat icon" />
          <div class="students-name">Kacper</div>
          <div class="students-name2">Madajewski</div>
          <p class="students-role">Developer</p>
        </div>
        <div class="students-list__item">
          <img
            class="students-picture"
            src="./images/animal_dog_white_icon.png"
            alt="dog white icon"
          />
          <div class="students-name">Jakub</div>
          <div class="students-name2">Piłat</div>
          <p class="students-role">Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
