.modal_window {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: auto;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.modal_content {
  background-color: #ffffff;
  margin: 150px auto;
  max-width: 806px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #000000;
  padding: 40px 12px;
  line-height: 16px;
  z-index: 999;
  position: relative;
}
.close_modal_window {
  width: 14px;
  height: 14px;
  color: #000000;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

@media screen and (min-width: 320px) {
  .modal_content {
    margin: 20px auto;
    max-width: 280px;
  }
  .modal__content-movie {
    max-width: 240px;
    padding: 8px 20px 20px 20px;

  }
}
@media screen and (min-width: 760px) {
  .modal_content {
    margin: 219px auto;
    max-width: 704px;
  }
  .modal__content-movie {
    max-width: 50%;

    padding: 0px 50px 20px 20px;
  }
  .modal_inner {
    display: flex;
  }

}

@media screen and (min-width: 1200px) {
  .modal_inner {
    max-width: 100%;
  }
  .modal_content {
    margin: 150px auto;
    max-width: 806px;
    padding: 40px 12px;
  }
  .modal__content-movie {
    max-width: 50%;

    padding: 0px 12px 20px 16px;
  }
  .modal_inner {
    display: flex;

  }
}
.modal__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal__title {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  margin: 0;
  text-transform: uppercase;
  line-height: 1.15;
  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.17;
    margin: 0;
  }
}
.modal__box {
  display: flex;
  margin-bottom: 20px;
}

.trailer__picture {
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 264px;

    margin-inline: 36px;
  }
  @media screen and (min-width: 1024px) {
    width: 375px;
    margin: 0px;

  }
}
.trailer__picture:hover .trailer__text {
  opacity: 1;
  visibility: visible;
}
.film-features {
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-right: 40px;
  line-height: 20px;
}
.film-features__text:not(:last-child),
.film-values__text:not(:last-child) {
  margin-bottom: 8px;
}
.film-values__slash {
  color: #8c8c8c;
}
.film-value {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 14px;
}
.film-values__votes--color {
  padding: 1px 4px;
  background: #f7f7f7;
  border-radius: 5px;
  & .dark {
    color: #000;
  }
}

.film-values__vote--color {
  padding: 1px 10px;
  background: #ff6b01;
  color: #fff;
  border-radius: 5px;
}
.modal__description {
  @media screen and (min-width: 1024px) {
    width: 320px;
  }
}
.modal__about {
  text-transform: uppercase;
  margin-bottom: 8px;
}
.modal__text {
  line-height: 1.67;
}
.modal__text {
  line-height: 20px;
}
.modal__btn-box {
  display: flex;
}
.modal__btn {
  width: 133px;
  height: 50px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.33;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #000000;
  color: #000;
  margin-top: 20px;

  @media screen and (min-width: 320px) {
    width: 125px;
    &:hover {
      background-color: #ff6b01;
      color: #fff;
      border: none;
    }
  }
  @media screen and (min-width: 768px) {
    width: 125px;
    &:hover {
      background-color: #ff6b01;
      color: #fff;
      border: none;
    }
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
    &:hover {
      background-color: #ff6b01;
      color: #fff;
      border: none;
    }
  }
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn--watched {
  margin-right: 20px;
}
