.video_modal {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 11000;
}

.video_modal-hidden {
    display: none;
}

.video_iframe {
    top: 50%;
}